@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply m-0 p-0 w-full h-full overflow-x-hidden;
  }
  
  body {
    @apply bg-[#fefbf5];
  }
  
  #root {
    @apply min-h-screen w-full;
  }
  
  button,
  input,
  select,
  textarea {
    @apply appearance-none bg-transparent border-0 outline-none;
  }
}

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --variable-collection-color: rgba(2, 5, 183, 1);
  --variable-collection-color-1: rgba(0, 0, 0, 1);
  --variable-collection-color-2: rgba(165, 147, 224, 1);
  --variable-collection-color-3: rgba(255, 198, 165, 1);
  --variable-collection-color-4: rgba(99, 213, 249, 1);
  --variable-collection-color-5: rgba(94, 94, 94, 1);
  --variable-collection-color-6: rgba(255, 255, 255, 1);
  --variable-collection-color-7: rgba(248, 251, 251, 1);
  --variable-collection-color-8: rgba(0, 0, 0, 0.5);
  --variable-collection-color-9: rgba(244, 237, 222, 1);
  --variable-collection-color-10: rgba(226, 217, 198, 1);
  --variable-collection-color-11: rgba(173, 163, 133, 1);
  --variable-collection-color-12: rgba(119, 127, 138, 1);
  --variable-collection-color-13: rgba(237, 237, 237, 1);
  --variable-collection-color-14: rgba(220, 220, 220, 1);
  --variable-collection-color-15: rgba(51, 51, 51, 1);
  --variable-collection-color-16: rgba(87, 87, 87, 1);
  --variable-collection-color-17: rgba(158, 158, 158, 1);
  --variable-collection-color-18: rgba(193, 193, 193, 1);
}